:root {
  --main-padding: 1rem 3rem;
  --main-margin: 0.5rem auto;
  --main-border-radius: 1rem;
  --main-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --main-text-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body {
  /* background-color: bisque; */
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: var(--main-padding);
  justify-content: space-between;
  margin: var(--main-margin);
  border-radius: 1rem;
  box-shadow: var(--main-box-shadow);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 120, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );

  nav {
    width: 40%;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;

      li {
        font-size: 2rem;
        list-style-type: none;
        gap: 2rem;

        a {
          color: white;
          text-decoration: underline 0.1em rgba(255, 255, 255, 0);
          transition: text-decoration-color 300ms;
        }
      }
    }
  }

  a:hover {
    text-decoration-color: white;
    text-underline-offset: 0.5rem;
  }
}
.img_logo {
  min-width: 1rem;
  height: auto;
}
.rotate:hover {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: var(--main-margin);
  padding: var(--main-padding);
  border-radius: 1rem;
  box-shadow: var(--main-box-shadow);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(254, 254, 254, 1) 0%,
    rgba(208, 255, 213, 1) 100%
  );
}
.grid_text {
  width: 40%;
  padding: var(--main-padding);
  margin: 1rem 1rem;
  border: 4px, solid rgb(22, 214, 211);
  border-radius: var(--main-border-radius);
  /* font-size: large; */
  transition: transform 1s;
}
.hero > p {
  font-size: x-large;
  font-weight: 500;
}
.grid_img {
  width: 40%;
  max-height: 50vw;
  border-radius: var(--main-border-radius);
  transition: transform 1s;
}
.hero > p:hover,
.hero > img:hover {
  transform: scale(1.2, 1.2);
}

footer {
  display: flex;
  justify-content: space-between;
  margin: var(--main-margin);
  padding: var(--main-padding);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(254, 254, 254, 1) 0%,
    rgba(41, 140, 51, 1) 75%
  );
  ul > li {
    opacity: 0.5;
    list-style-type: none;
  }

  .contact_us {
    max-width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      text-align: center;
      margin-right: 3rem;
    }
    #email_form {
      width: 80%;
      border: none;
      border-radius: var(--main-border-radius);
      padding-left: 1rem;
    }
    #textarea_form {
      width: 80%;
      border-radius: var(--main-border-radius);
      padding-left: 1rem;
    }
    #textarea_button {
      width: 80%;
      border: none;
      border-radius: var(--main-border-radius);
      cursor: pointer;
    }
  }
  .contact_replacement {
    display: none;
  }
  .map_us {
    opacity: 0.5;
    max-width: 33.3%;
  }
  .soc_us {
    opacity: 0.8;
    max-width: 33.3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    margin-right: 3rem;

    a:hover {
      border-radius: var(--main-border-radius);
      box-shadow: 10px 10px 20px 20px rgb(85, 164, 99);
    }
  }
}
@media only screen and (max-width: 954px) {
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    li {
      gap: 1rem;
    }
  }
  .hero > p {
    font-size: large;
    font-weight: 400;
  }
  .map_us {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .hero > p {
    font-size: medium;
    font-weight: 300;
  }
  .grid_text {
    margin: 0 auto;
    padding: 0;
  }
  footer {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  /* neveikia, kodėl? */
  .contact_us {
    display: none;
  }
  .contact_replacement {
    display: inline;
  }
}
