:root {
  --main-padding: 1rem 3rem;
  --main-margin: 0.5rem auto;
  --main-border-radius: 1rem;
  --main-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --main-text-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body {
  /* background-color: bisque; */
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--main-padding);
  justify-content: space-between;
  margin: var(--main-margin);
  border-radius: 1rem;
  box-shadow: var(--main-box-shadow);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 120, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  a:link {
    color: white;
    text-decoration: underline 0.1em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
  }
  a:hover {
    text-decoration-color: white;
    text-underline-offset: 0.5rem;
  }
}
.img_logo {
  min-width: 1rem;
  height: auto;
}
.rotate:hover {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

nav {
  width: 40%;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
      font-size: 2rem;
      list-style-type: none;
    }
  }
}

.hero {
  margin: var(--main-margin);
  padding: var(--main-padding);
  border-radius: 1rem;
  box-shadow: var(--main-box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(254, 254, 254, 1) 0%,
    rgba(208, 255, 213, 1) 100%
  );

  .grid {
    text-align: center;

    .grid_text {
      padding: var(--main-padding);
      margin: 1rem 1rem;
      border: 4px, solid rgb(22, 214, 211);
      border-radius: var(--main-border-radius);
      font-size: medium;
    }
    /* .p_first .p_third {
      color: blue;
    } */
    .grid_img {
      max-width: 20%;
      height: auto;
      border-radius: var(--main-border-radius);
    }
    .img_second {
      text-align: left;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  margin: var(--main-margin);
  padding: var(--main-padding);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(254, 254, 254, 1) 0%,
    rgba(41, 140, 51, 1) 75%
  );
  ul > li {
    color: var(--main-text-color);
    list-style-type: none;
  }

  .contact_us {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #email_form {
      width: 80%;
      border: none;
      border-radius: var(--main-border-radius);
      padding-left: 1rem;
    }
    #textarea_form {
      width: 80%;
      border-radius: var(--main-border-radius);
      padding-left: 1rem;
    }
    #textarea_button {
      width: 80%;
      border: none;
      border-radius: var(--main-border-radius);
      cursor: pointer;
    }
  }
  .map_us {
    width: 33.3%;
  }
  .soc_us {
    width: 33.3%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a:hover {
      background-color: azure;
    }
  }
}
